<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.meals_schdueler">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.Meals_Schdueler"
        android:usesCleartextTraffic="true">
        
        <receiver android:name="com.allyants.notifyme.NotificationPublisher"/>
        <receiver android:name="com.allyants.notifyme.BootNotifyMe">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>


        </receiver>

        <activity
            android:name=".ApiFood"
            android:label="@string/title_activity_user_inter_face"
            android:theme="@style/Theme.Meals_Schdueler.NoActionBar"></activity>
        
        <activity
            android:name=".UserInterFace"
            android:label="@string/title_activity_user_inter_face"
            android:theme="@style/Theme.Meals_Schdueler.NoActionBar"></activity>
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/Theme.Meals_Schdueler.NoActionBar" />
        <activity
            android:name=".CameraIntent1"
            android:label="@string/title_activity_camera_intent1"
            android:theme="@style/Theme.Meals_Schdueler.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CameraIntent" />
    </application>

</manifest>